@media (min-width: 1024px) {


.btn + .btn  {
  margin-left: 10px;
}

  }



@media (max-width: 1280px) {

.h1-condensed, .h1-condensed-white {
  font-size:50px;
}

.h1-light, .h1-light-white {
  font-size: 40px;
}

  }


@media (max-width: 1024px) {


#homepage-renseignements-jumbotron::before, #homepage-risques-jumbotron::before, #homepage-urba-jumbotron::before, #etat-risques-jumbotron::before, #urbanisme-jumbotron::before {
  transform:unset;
  border-radius: 0;
}

/* TITRE */

.h1-condensed, .h1-condensed-white {
  font-size:50px;
}


#preventimmo-navbar #navbar {
    display:none !important;
}

#login {
	display: none;
}

#menu-toggle {
	display:inline-block;
}


.featured-sticky-post-title h2 {
  font-size:1.3em;
}


.left-featured-sticky-post-title h2  {
  font-size:1em;
  margin:0;
}

.left-featured-sticky-post-title h2 a {
  color:#fff;
  padding:6px 10px;
}

}


@media (max-width: 768px) {

.flip-box {
  margin-bottom:20px;
}

.icon-row {
  padding:0;
}

  /* TITRE */

.jumbotron h1 ,.h1-condensed, .h1-condensed-white {
  font-size:40px !important;
}

.h1-light, .h1-light-white {
  font-size: 36px;
}

.btn-download + .btn-download {
  margin-left: 0px;
}

#header .navbar-brand {
    margin:8px 0;
    padding:0;
}
#header .navbar-brand img {
    width: 180px;
}

#preventimmo-navbar #navbar {
    display:none !important;
}

#wrapper.active #sidebar-wrapper {
  display: block;
}

.temoignage {
  text-align:center;
}

.temoignage + .temoignage {
  padding-top:15px;
  margin-top:30px;
  border-top:1px solid #ccc;
}

.left-featured-sticky-post-title h2  {
  font-size:1em;
  margin:0;
}

.left-featured-sticky-post-title h2 a {
  color:#fff;
  padding:6px 10px;
}


}


@media (max-width: 480px) {

.flip-box {
  margin-bottom:20px;
}

.icon-row {
  padding:0;
}


#footer::after {
  transform:translateX(-20px) translateZ(-400px) skewX(-30deg);
}

h1 {
  font-size:38px !important;
}

.h1-condensed, .h1-condensed-white {
  font-size:38px;
}

.h1-light, .h1-light-white {
  font-size: 30px;
  line-height: 1em !important;
}

h2 .bordered-title, h2 .bordered-title-white  {
  font-size: 28px;
}

.jumbotron p, .section-pitch {
  font-size:16px !important;
}

#header .navbar-brand {
    margin:8px 0;
    padding:0;
}
#header .navbar-brand img {
    width: 180px;
}

#preventimmo-navbar #navbar {
    display:none !important;
}


#wrapper.active {
  position: relative;
}


.list-mode > li  {
  display: block;
  width:100%;
}
.list-mode > li > a  {
  display: block;
  width:100%;
  margin:6px 0;
}
}
